@tailwind base;
@tailwind components;
@tailwind utilities;

[v-cloak] { display:none; }

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.scale-enter-active {
    transition: all .2s;
}
.scale-enter, .scale-leave-to {
    transform: scale(0.9);
    opacity: 0;
}

.slide-enter-active {
  transition: .7s;
}
.slide-enter {
    transform: translate(100%, 0);
}
.slide-leave-to {
    transform: translate(-100%, 0);
}

.firstslide-enter-active {
    transition: .7s;
}
.firstslide-enter {
    transform: translate(-100%, 0);
}
.firstslide-leave-to {
    transform: translate(100%, 0);
}

.error-again {
    animation: nudge .4s linear;
}

@keyframes nudge {
    0% {
      transform: rotate(-3deg);
    }

    33% {
      transform: rotate(3deg);
    }

    66% {
      transform: rotate(-3deg);
    }
}

.error-input-again {
   animation: nudge-again .4s linear;
}

@keyframes nudge-again {
    0% {
        transform: translateX(-5px);
    }

    15% {
        transform: translateX(5px);
    }

    30% {
        transform: translateX(-5px);
    }

    45% {
        transform: translateX(5px);
    }

    60% {
        transform: translateX(-5px);
    }

    75% {
        transform: translateX(5px);
    }

    90% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0px);
    }
}

input:disabled {
    background-color: #efefef;
}

button:disabled {
    opacity: 0.7;
    pointer-events: none;
}

.menu-icon {
    width: 36px;
    height: 36px;
}

/*Progress*/
.demo {
    flex-direction: column;
}


.column-wrapper{
    height: 400px;
    width: 100%;
    transform: rotate(180deg);
    /*margin: 0 auto;*/
    overflow: hidden;
}

.column{
    position: relative;
    display: block;
    bottom: 0;
    width: 100%;
    height: 0;
    transfrom: -moz-translateY(-10px);
}

.column-wave {
    width: 200%;
    height: 300px;
    border-radius: 33%;
    position: absolute;
    left:-50%;
    animation: customspin 3s ease-out;
}

@keyframes customspin {
    0% {
        transform: rotate(0deg);
        margin-top: 0px;
    }
    50% {
        margin-top: -10px;
    }
    100% {
        transform: rotate(360deg);
        margin-top: 0px;
    }
}

#supBreakdown tbody tr:active {
    transform: scale(0.99);
}

.w-inherit {
    width: inherit;
}

.blur {
    backdrop-filter: blur(5px);
}

button:focus + .button-icon-blue {
    color: #4299e1!important;
}

.opacity-85 {
    opacity: .85;
}

.black-opacity-50 {
    background-color:rgba(0, 0, 0, 0.5);
}

.locked {
    background-color: #ccc;
}

.steps .active {
    transition: .3s;
    margin-top: -10px;
}

.steps .active .icon-step {
    background-color: #4fd1c5;
    color: white;
}

.account-container:active {
    transform: scale(0.99);
}

.z-modal {
    z-index: 100;
}

.z-modal-backdrop {
    z-index: 99;
}

button:focus,
input:focus {
    outline:none;
}

.system-setting-background-img {
    background-image: url('https://i.redd.it/yn9ryipxeac31.png');
}

.item-press:active {
    transform: scale(0.99);
}

.shrink-enter-active, .shrink-leave-active {
    transition: .3s;
}
.shrink-enter, .shrink-leave-to {
    transform: scaleY(0);
}

.pink-purple-gradient {
    color: #fff;
    background: rgb(204,43,94);
    background: linear-gradient(90deg, rgba(204,43,94,0.7) 0%, rgba(117,58,136,0.7) 100%);
}

.loading-frame {
    width: 50px;
    height: 110px;
    background-color: orange;
    border-radius: 10px;
    overflow: hidden;
}

.loading-progress {
    width: 120px;
    height: 120px;
    margin-left: -30px;
    background-color: white;
    opacity: 0.8;
    border-radius: 34%;
    animation: fill-up 3s infinite;
}

@keyframes fill-up {
    from {
        margin-top: 0;
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        margin-top: -140px;
    }
}
